
.Recipe-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    
}

.food-item {
    padding-left: 30%;
    width: 70%;   
    height: 70%;
}

.food-descriptions {
    text-align: center;
}