/* the frame in the background */
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;;
}

.Recipe-List {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

/* changing the size of the food images */
.food-item {
    width: 30%;   
    height: 58%;
}

/* making the food name and type in the center */
.food-descriptions {
    text-align: center;
}