.char-div {
    border: 2px solid red;
    width: 20%;
    height: 200px;
}

.test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;

}

.image {
    
    width: 100px;
    height: 100px;
}