.field {
    margin-top: 1.4%;
    border: 2px solid red;
    width: 99.8%;
    height: 500px;
    background-image: url(../Images/field-biome.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    
}

.glommer {
    margin-top: 1.4%;
    border: 2px solid red;
    width: 99.8%;
    height: 500px;
    background-image: url(../Images/glommer-statue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.item1 {
    border: 2px solid red;
    border-radius: 50%;
    width: 5%;
    height: 30px;
    position: relative;
    left: 80%;
    bottom: 400px;
    color: aliceblue;


    
}

.item2 {
    border: 2px solid red;
    border-radius: 50%;
    width: 5%;
    height: 30px;
    position: relative;
    left: 10%;
    bottom: 300px;
    color: aliceblue;


    
}