/* html {
    background-image: url(../Images/field-biome.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
} */

.field {
    margin-top: 1.4%;
    border: 2px solid red;
    width: 99.8%;
    height: 500px;
    background-image: url(../Images/field-biome.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    
}

.item {
    border: 2px solid red;
    border-radius: 50%;
    width: 3%;
    height: 30px;
    position: relative;
    left: 100px;
    bottom: 300px;
    color: aliceblue;


    
}