/* the frame in the background */
.main { 
    position: absolute;
    width: 100%;
    height: 92.6%;
    background-image: url(./Images/dont-starve-border.jpeg);
    background-repeat: no-repeat;
    /* this makes it so that the background doesn't follow when the screen is scrolled */
    background-attachment: fixed;
    background-position: center;
    /* vh is viewport height which adjusts accordinly to when the window is resized */
    background-size: 202vh 100vh;
}