/* The different maps for each levels */

.field {
    margin-top: 1.4%;
    /* border: 2px solid red; */
    width: 99.8%;
    height: 500px;
    background-image: url(../../../MapBackgrounds/field-biome.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    
}

.glommer {
    margin-top: 1.4%;
    /* border: 2px solid red; */
    width: 99.8%;
    height: 500px;
    background-image: url(../../../MapBackgrounds/glommer-statue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.snowy-trees {
    margin-top: 1.4%;
    /* border: 2px solid red; */
    width: 99.8%;
    height: 500px;
    background-image: url(../../../MapBackgrounds/snowy-trees.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.spider-forest {
    margin-top: 1.4%;
    /* border: 2px solid red; */
    width: 99.8%;
    height: 500px;
    background-image: url(../../../MapBackgrounds/spider-forest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.swamp {
    margin-top: 1.4%;
    /* border: 2px solid red; */
    width: 99.8%;
    height: 500px;
    background-image: url(../../../MapBackgrounds/swamp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

/* The different locations of the hidden items for each level */
.item1 {
    /* border: 2px solid red; */
    width: 2%;
    height: 30px;
    position: absolute;
    left: 95.5%;
    bottom: 71%;    
}

.item2 {
    /* border: 2px solid red; */
    width: 1%;
    height: 20px;
    position: absolute;
    left: 61.4%;
    bottom: 76%;
}

.item3 {
    /* border: 2px solid red; */
    width: 3%;
    height: 30px;
    position: absolute;
    left: 6%;
    bottom: 36.4%;
}

.item4 {
    /* border: 2px solid red; */
    width: 2%;
    height: 30px;
    position: absolute;
    left: 51.3%;
    bottom: 74%;
}

.item5 {
    /* border: 2px solid red; */
    width: 2%;
    height: 6%;
    position: absolute;
    left: 46.7%;
    bottom: 54%;
}